@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

.welcome {
  background: rgba(27, 24, 27, 0.9);
  z-index: 0;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.welcome h1 {
  font-size: 4vh;
  font-family: 'Roboto', sans-serif;
  color: #d9e00b;
  font-weight: 100;
}

.hide-welcome {
  opacity: 0;
}

.fade-in {
  animation: fadeIn ease 2s;
}
  
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}