.overlay {
  position: fixed;
  width: 100vw;
  background-color: black;
  opacity: 0.9;
  height: 100vh;
  z-index: 2;
}

.hide {
  margin-top: 100vh;
  transition: margin 0.5s;
}

.show {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  margin-top: 0vh;
  animation: slide-up 0.75s;
}

@keyframes slide-up {
  from {margin-top: 100vh;}
  to {margin-top: 0vh;}
}

